<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WORK_MINUTES" value="20"/>
    <add key="REST_MINUTES" value="5"/>
    <add key="REST_MINUTES_LONG" value="15"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>